.map-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: white;
  padding: 0.75rem;
  border-radius: 8px;
  max-height: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  min-width: 300px;
}

nav {
  // text-align: center;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 170px;
    height: auto;
  }

  button {
    border: 0;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }

  button.hide {
    color: red;
  }
  button.display {
    color: green;
  }
}
